footer{
  display: none
}
.full.height{
  background: url(https://storage.xjie.me/git-bj.jpg) no-repeat;
  background-size: cover;   
  -webkit-background-size: cover;   
  -moz-background-size: cover;   
  -o-background-size: cover;
}